<!--************************************************************
 * File:            searchBar.component.html
 * Author:          Patrick Hasenauer, Jonas Kleinkauf
 * LastMod:         11.12.2016
 * Description:     Knockout Template for Search Input Mask
 ************************************************************ -->

<section id="search-panel-section" class="bar background-image-fixed-2 no-mb seachbar-results">
    <div class="dark-mask"></div>
    <div class="container">
        <div id="search-panel" class="search-panel col-md-12 background-white" data-bind="visible: showSimpleSearch">
            <div class="row">
                <div class="col-md-2">
                    <select data-bind="options: offerTypes, value: $data.queryParameter().offerType, optionsCaption: 'Choose Type'" class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <input data-bind="textInput: $data.queryParameter().uniDistance.lte" class="form-control" type="number" min="0" placeholder="Max. Distance"></input>
                        <div class="input-group-addon">km</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <input data-bind="textInput: $data.queryParameter().rent.lte" class="form-control" type="number" min="0" placeholder="Max. Price"></input>
                        <div class="input-group-addon">€</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <input data-bind="textInput: $data.queryParameter().size.gte" class="form-control" type="number" min="0" placeholder="Min. Area Size"></input>
                        <div class="input-group-addon">m²</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <select data-bind="options: availableTags, selectedOptions: $data.queryParameter().tags, multiselect: { includeSelectAllOption: true, disableIfEmpty: true, buttonWidth: '100%', nonSelectedText: 'Choose Tags' }"
                        class="form-control" id="tags1" multiple="multiple"></select>
                </div>
                <div class="col-md-2 text-center">
                    <div class="pull-right">
                        <button data-bind="click: search" class="btn btn-lg btn-size-search btn-template-primary">Search</button>
                        <button data-bind="click: openExtendedSearch, visible: showExtendedSearchButton" class="btn btn-lg btn-size-search btn-template-primary">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- __________ Extended Search Panel __________ -->
        <div id="extended-search-panel" class="search-panel col-md-12 background-white" data-bind="visible: showExtendedSearch">
            <div class="col-md-6">

                <div class="row">
                    <div class="form-group">
                        <label for="types" class="col-md-2 col-form-label">Type:</label>
                        <div class="col-md-10">
                            <select data-bind="options: offerTypes, value: $data.queryParameter().offerType, optionsCaption: 'Choose Type'" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="types" class="col-md-5 col-form-label">University distance range from:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input data-bind="textInput: $data.queryParameter().uniDistance.gte" class="form-control" type="number" min="0"></input>
                            <div class="input-group-addon">km</div>
                        </div>
                    </div>
                    <label for="types" class="col-md-1 col-form-label"> to:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input data-bind="textInput: $data.queryParameter().uniDistance.lte" class="form-control" type="number" min="0"></input>
                            <div class="input-group-addon">km</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="types" class="col-md-5 col-form-label">Price range from:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input data-bind="textInput: $data.queryParameter().rent.gte" class="form-control" type="number" min="0"></input>
                            <div class="input-group-addon">€</div>
                        </div>
                    </div>
                    <label for="types" class="col-md-1 col-form-label"> to:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input data-bind="textInput: $data.queryParameter().rent.lte" class="form-control" type="number" min="0"></input>
                            <div class="input-group-addon">€</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="types" class="col-md-5 col-form-label">Area size from:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input data-bind="textInput: $data.queryParameter().size.gte" class="form-control" type="number" min="0"></input>
                            <div class="input-group-addon">m²</div>
                        </div>
                    </div>
                    <label for="types" class="col-md-1 col-form-label"> to:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input data-bind="textInput: $data.queryParameter().size.lte" class="form-control" type="number" min="0"></input>
                            <div class="input-group-addon">m²</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="types" class="col-md-5 col-form-label">Rooms count from:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input data-bind="textInput: $data.queryParameter().rooms.gte" class="form-control" type="number" min="0"></input>
                        </div>
                    </div>
                    <label for="types" class="col-md-1 col-form-label"> to:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input data-bind="textInput: $data.queryParameter().rooms.lte" class="form-control" type="number" min="0"></input>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="types" class="col-md-2 col-form-label">Tags:</label>
                        <div class="col-md-10">
                            <select data-bind="options: availableTags, selectedOptions: $data.queryParameter().tags, multiselect: { includeSelectAllOption: true, disableIfEmpty: true, buttonWidth: '100%', nonSelectedText: 'Choose Tags' }"
                                class="form-control" id="tags2" multiple="multiple"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Column 1 -->

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="furnished" data-bind="checked: $data.queryParameter().furnished">
                            <label for="furnished">Furnished:</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="pets" data-bind="checked: $data.queryParameter().pets">
                            <label for="pets">Pets:</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="cellar" data-bind="checked: $data.queryParameter().cellar">
                            <label for="cellar">Cellar:</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="parking" data-bind="checked: $data.queryParameter().parking">
                            <label for="parking">Parking:</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="elevator" data-bind="checked: $data.queryParameter().elevator">
                            <label for="elevator">Elevator:</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="accessibility" data-bind="checked: $data.queryParameter().accessibility">
                            <label for="accessibility">Accessibility:</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="dryer" data-bind="checked: $data.queryParameter().dryer">
                            <label for="dryer">Dryer:</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="washingmachine" data-bind="checked: $data.queryParameter().washingmachine">
                            <label for="washingmachine">Washing Machine:</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="television" data-bind="checked: $data.queryParameter().television">
                            <label for="television">Television:</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="wlan" data-bind="checked: $data.queryParameter().wlan">
                            <label for="wlan">WLAN:</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="lan" data-bind="checked: $data.queryParameter().lan">
                            <label for="lan">LAN:</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="switch" type="checkbox" name="telephone" data-bind="checked: $data.queryParameter().telephone">
                            <label for="telephone">Telephone:</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="types" class="col-md-4 col-form-label">Min. Internet Speed:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input data-bind="checked: $data.queryParameter().internetspeed.gte" class="form-control" type="number" min="0"></input>
                            <div class="input-group-addon">Mbit/s</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="pull-right">
                        <button data-bind="click: search" class="btn btn-lg btn-size-search btn-template-primary">Search</button>
                        <button data-bind="click: hideExtendedSearch" class="btn btn-lg btn-size-search btn-template-primary">
                                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                            </button>
                    </div>
                </div>
            </div>
            <!-- End Column 2 -->

        </div>
        <!-- __________ END Extended Search Panel __________ -->
    </div>
    </div>
</section>