<!--************************************************************
 * File:            roboflatspectionBar.component.html
 * Author:          Michelle Rothenbücher, Jonas Kleinkauf
 * LastMod:         17.02.2017
 * Description:     Knockout Template for RoboFlatspection
 ************************************************************-->
<section class="offer-details-bar">
    <div class="container">
        <div class="row">
           <h1> RoboFlatspection </h1>
        </div>
    </div>
    <!-- /container -->
</section>