<section class="bar background-white no-mb">
    <div class="container">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Living International</h2>
            </div>
            <div class="owl-carousel-offers owl-carousel">
                <div class="col-xs-12">
                    <div class="offer-brief-detail-1 box-image-text table-bordered">
                        <div class="top">
                            <div class="image">
                                <img src="../img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>View Details</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <span>Appartment</span></br>
                                <small><a href="blog-post.html">Title etwas länger und noch was länger</a></small>
                            </h4>
                            <div class="offer-brief-detail-1-details row background-gray">
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 km</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>to University Fulda</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 m²</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>Size</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value price-wrapper">
                                        <div class="price"><strong>500 €</strong></div>
                                        <div class="rate"><strong>/ month</strong></div>
                                    </div>
                                    <div class="offer-brief-detail-1-details-key"><small>Rental</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="offer-brief-detail-1 box-image-text table-bordered">
                        <div class="top">
                            <div class="image">
                                <img src="../img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>View Details</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <span>Appartment</span></br>
                                <small><a href="blog-post.html">Title etwas länger und noch was länger</a></small>
                            </h4>
                            <div class="offer-brief-detail-1-details row background-gray">
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 km</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>to University Fulda</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 m²</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>Size</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value price-wrapper">
                                        <div class="price"><strong>500 €</strong></div>
                                        <div class="rate"><strong>/ month</strong></div>
                                    </div>
                                    <div class="offer-brief-detail-1-details-key"><small>Rental</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="offer-brief-detail-1 box-image-text table-bordered">
                        <div class="top">
                            <div class="image">
                                <img src="../img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>View Details</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <span>Appartment</span></br>
                                <small><a href="blog-post.html">Title etwas länger und noch was länger</a></small>
                            </h4>
                            <div class="offer-brief-detail-1-details row background-gray">
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 km</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>to University Fulda</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 m²</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>Size</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value price-wrapper">
                                        <div class="price"><strong>500 €</strong></div>
                                        <div class="rate"><strong>/ month</strong></div>
                                    </div>
                                    <div class="offer-brief-detail-1-details-key"><small>Rental</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="offer-brief-detail-1 box-image-text table-bordered">
                        <div class="top">
                            <div class="image">
                                <img src="../img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>View Details</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <span>Appartment</span></br>
                                <small><a href="blog-post.html">Title etwas länger und noch was länger</a></small>
                            </h4>
                            <div class="offer-brief-detail-1-details row background-gray">
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 km</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>to University Fulda</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 m²</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>Size</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value price-wrapper">
                                        <div class="price"><strong>500 €</strong></div>
                                        <div class="rate"><strong>/ month</strong></div>
                                    </div>
                                    <div class="offer-brief-detail-1-details-key"><small>Rental</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="offer-brief-detail-1 box-image-text table-bordered">
                        <div class="top">
                            <div class="image">
                                <img src="../img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>View Details</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <span>Appartment</span></br>
                                <small><a href="blog-post.html">Title etwas länger und noch was länger</a></small>
                            </h4>
                            <div class="offer-brief-detail-1-details row background-gray">
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 km</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>to University Fulda</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 m²</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>Size</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value price-wrapper">
                                        <div class="price"><strong>500 €</strong></div>
                                        <div class="rate"><strong>/ month</strong></div>
                                    </div>
                                    <div class="offer-brief-detail-1-details-key"><small>Rental</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="offer-brief-detail-1 box-image-text table-bordered">
                        <div class="top">
                            <div class="image">
                                <img src="../img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>View Details</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <span>Appartment</span></br>
                                <small><a href="blog-post.html">Title etwas länger und noch was länger</a></small>
                            </h4>
                            <div class="offer-brief-detail-1-details row background-gray">
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 km</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>to University Fulda</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 m²</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>Size</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value price-wrapper">
                                        <div class="price"><strong>500 €</strong></div>
                                        <div class="rate"><strong>/ month</strong></div>
                                    </div>
                                    <div class="offer-brief-detail-1-details-key"><small>Rental</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="offer-brief-detail-1 box-image-text table-bordered">
                        <div class="top">
                            <div class="image">
                                <img src="../img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>View Details</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <span>Appartment</span></br>
                                <small><a href="blog-post.html">Title etwas länger und noch was länger</a></small>
                            </h4>
                            <div class="offer-brief-detail-1-details row background-gray">
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 km</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>to University Fulda</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 m²</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>Size</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value price-wrapper">
                                        <div class="price"><strong>500 €</strong></div>
                                        <div class="rate"><strong>/ month</strong></div>
                                    </div>
                                    <div class="offer-brief-detail-1-details-key"><small>Rental</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="offer-brief-detail-1 box-image-text table-bordered">
                        <div class="top">
                            <div class="image">
                                <img src="../img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>View Details</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <span>Appartment</span></br>
                                <small><a href="blog-post.html">Title etwas länger und noch was länger</a></small>
                            </h4>
                            <div class="offer-brief-detail-1-details row background-gray">
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 km</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>to University Fulda</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value"><strong>50 m²</strong></div>
                                    <div class="offer-brief-detail-1-details-key"><small>Size</small></div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offer-brief-detail-1-details-value price-wrapper">
                                        <div class="price"><strong>500 €</strong></div>
                                        <div class="rate"><strong>/ month</strong></div>
                                    </div>
                                    <div class="offer-brief-detail-1-details-key"><small>Rental</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>