<!--************************************************************
 * File:            offerDetailsBar.component.html
 * Author:          Martin Herbener, Jonas Kleinkauf, Patrick Hasenauer
 * LastMod:         05.12.2016
 * Description:     Knockout Template for offer details bar.
 ************************************************************-->
<section style="min-height:700px; margin-top: 2rem">
    <div class="container">
        <div class="row">
            <h1 data-bind="text: offer().title"></h1>
        </div>
        <div class="row">
            <div id="mediaObjectsCarousel" class="carousel slide col-md-12" data-ride="carousel">
                <ol class="carousel-indicators" data-bind="foreach: { data: offer().mediaObjects, as: 'mediaObject'}">
                    <li data-target="#mediaObjectsCarousel" data-bind="attr:{'data-slide-to': mediaObject.carouselIndex}, css: { active: mediaObject.carouselActive }"></li>
                </ol>


                <div class="carousel-inner" role="listbox" data-bind="foreach: { data: offer().mediaObjects, as: 'mediaObject'}">
                    <div class="item" data-bind="css: { active: mediaObject.carouselActive }">
                        <div class="mediaObject-container">
                            <a data-bind="attr:{href: mediaObject.mainUrl}" data-lightbox="mediaObjectsLightbox">
                                <img data-bind="attr: {src: mediaObject.mainUrl}" class="mediaObject-img">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#mediaObjectsCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left blue-text" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#mediaObjectsCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right blue-text" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div><br>
        <div class="row" style="background-color: #ddd">
            <div class="col-sm-12"><br>
                <div class="col-sm-4">
                    <label class="control-label col-sm-6">Offer Type:</label>
                    <label class="control-label col-sm-6" data-bind="text: offer().offerType"></label>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label class="control-label col-sm-6">Rental:</label>
                    <label class="control-label col-sm-6" data-bind="text: offer().rent + ' EUR'"></label>
                </div><br>
            </div><br>
        </div>
        <div class="row" style="background-color: #ddd">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="control-label col-sm-6">Size:</label>
                    <label class="control-label col-sm-6" data-bind="text: offer().size + ' qm'"></label>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label class="control-label col-sm-6">Addition:</label>
                    <label class="control-label col-sm-6" data-bind="text: offer().sideCosts + ' EUR'"></label>
                </div>
            </div><br>
        </div>
        <div class="row" style="background-color: #ddd">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="control-label col-sm-6">Rooms:</label>
                    <label class="control-label col-sm-6" data-bind="text: offer().rooms"></label>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label class="control-label col-sm-6">Full Price:</label>
                    <label class="control-label col-sm-6" data-bind="text: offer().fullPrice + ' EUR'"></label>
                </div>
            </div><br>
        </div>
        <div class="row" style="background-color: #ddd">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="control-label col-sm-6"></label>
                    <label class="control-label col-sm-6"></label>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label class="control-label col-sm-6">Deposit:</label>
                    <label class="control-label col-sm-6" data-bind="text: offer().deposit + ' EUR'"></label>
                </div>
            </div><br>
        </div>
        <div class="row" style="background-color: #ddd">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="control-label col-sm-6"></label>
                    <label class="control-label col-sm-6"></label>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label class="control-label col-sm-6">Commission:</label>
                    <label class="control-label col-sm-6" data-bind="text: offer().commission + ' EUR'"></label>
                </div>
            </div><br><br>
        </div><br>
        <div data-bind="if: isAuthenticated">
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4"><br>
                        <label class="control-label col-sm-6">Landlord:</label>
                        <label class="control-label col-sm-6"></label>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <img data-bind="attr: {src: landlord().profilePicture}" class="img-responsive col-sm-6" alt="Profilepicture">
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <div class="col-sm-8">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label class="control-label col-sm-4">Name:</label>
                        <label class="control-label col-sm-8" data-bind="text: landlord().lastName + ', ' + landlord().firstName"></label>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label class="control-label col-sm-4">Phone:</label>
                        <label class="control-label col-sm-8" data-bind="text: landlord().phoneNumber"></label>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label class="control-label col-sm-4">E-Mail:</label>
                        <label class="control-label col-sm-8" data-bind="text: landlord().email"></label>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label class="control-label col-sm-4">Office:</label>
                        <label class="control-label col-sm-8" data-bind="text: landlord().officeAddress"></label><br><br>
                    </div>
                </div><br>
            </div>
            <br>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-4">
                    <div class="row" style="background-color: #ddd">
                        <div class="col-sm-12"><br>
                            <div class="col-sm-12">
                                <label class="control-label col-sm-6">Street:</label>
                                <label class="control-label col-sm-6" data-bind="text: offer().street"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="background-color: #ddd">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-6">Nr.:</label>
                                <label class="control-label col-sm-6" data-bind="text: offer().houseNumber"></label>
                            </div>
                        </div><br>
                    </div>
                    <div class="row" style="background-color: #ddd">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-6">Floor:</label>
                                <label class="control-label col-sm-6" data-bind="text: offer().floor"></label>
                            </div>
                        </div><br>
                    </div>
                    <div class="row" style="background-color: #ddd">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-6">Post Code:</label>
                                <label class="control-label col-sm-6" data-bind="text: offer().zipCode"></label>
                            </div>
                        </div><br>
                    </div>
                    <div class="row" style="background-color: #ddd">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-6">City:</label>
                                <label class="control-label col-sm-6" data-bind="text: offer().city"></label>
                            </div>
                        </div>
                    </div><br>
                </div>
                <div class="col-sm-8">
                    <div class="col-sm-12"><br>
                        <img src="../img/map.jpg" class="img-responsive" alt="Map"><br>
                    </div>
                </div>
            </div><br>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12"><br>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Description:</label>
                    </div>
                </div><br>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <label class="control-label col-sm-12" data-bind="text: offer().description"></label><br><br><br>
                    </div><br>
                </div><br>
            </div><br>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12"><br>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Bathroom:</label>
                        <label class="control-label col-sm-6" data-bind="text: offer().bathroomDescription"></label>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Heating:</label>
                        <label class="control-label col-sm-6" data-bind="text: offer().heatingDescription"></label>
                    </div><br>
                </div><br>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Kitchen:</label>
                        <label class="control-label col-sm-6" data-bind="text: offer().kitchenDescription"></label>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Washer:</label>
                        <!-- ko if: offer().washingMachine -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().washingMachine -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                </div><br>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Cellar:</label>
                        <!-- ko if: offer().cellar -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().cellar -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Dryer:</label>
                        <!-- ko if: offer().dryer -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().dryer -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                </div><br>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Parking:</label>
                        <!-- ko if: offer().parking -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().parking -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">TV:</label>
                        <label class="control-label col-sm-6" data-bind="text: offer().television"></label>
                    </div>
                </div><br>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Elevator:</label>
                        <!-- ko if: offer().elevator -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().elevator -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Phone:</label>
                        <!-- ko if: offer().telephone -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().telephone -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                </div><br>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Pets:</label>
                        <!-- ko if: offer().pets -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().pets -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">WLAN:</label>
                        <!-- ko if: offer().wlan -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().wlan -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                </div><br>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Furnished:</label>
                        <!-- ko if: offer().furnished -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().furnished -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">LAN:</label>
                        <!-- ko if: offer().lan -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().lan -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                </div><br>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Accessability:</label>
                        <!-- ko if: offer().accessability -->
                        <label class="control-label col-sm-6">Yes</label>
                        <!-- /ko -->
                        <!-- ko ifnot: offer().accessability -->
                        <label class="control-label col-sm-6">No</label>
                        <!-- /ko -->
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-6">Internet:</label>
                        <label class="control-label col-sm-6" data-bind="text: offer().internetSpeed + ' MBit/s'">Yes</label>
                    </div>
                </div><br><br>
            </div><br>
            <div class="row">
                <h4>Customer Reviews</h4>
            </div>
            <div data-bind="foreach: { data: reviews, as: 'review'}">
                <div class="row" data-bind="value: review.rating">
                    <!-- ko if: review.rating == 5 -->
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <!-- /ko -->
                    <!-- ko if: review.rating == 4 -->
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <!-- /ko -->
                    <!-- ko if: review.rating == 3 -->
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <!-- /ko -->
                    <!-- ko if: review.rating == 2 -->
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <!-- /ko -->
                    <!-- ko if: review.rating == 1 -->
                    <span class="glyphicon glyphicon-star gold-text"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <!-- /ko -->
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <label class="control-label review-name" data-bind="text: review.title"></label>
                        </div>
                        <div class="row">
                            <label class="control-label grey-text" data-bind="text: review.creationDate"><small></small></label>
                        </div>
                        <div class="row">
                            <label data-bind="text: review.comment"></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="profilePicture-container-medium">    
                                <img data-bind="attr:{ src: review.user.profilePicture}" class="img-responsive profilePicture-img" alt="Profilepicture">
                            </div>
                        </div>
                        <div class="row centric">
                            <span class="review-name" data-bind="text: review.user.firstName"></span>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-4">
                        <select id="ratingSelect" class="gold-text form-control">
                            <option value="5" selected>&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                            <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                            <option value="3">&#9733;&#9733;&#9733;</option>
                            <option value="2">&#9733;&#9733;</option>
                            <option value="1">&#9733;</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <input id="ratingInput" class="form-control" placeholder="Review Title"/>
                    </div>
                </div>
                <div class="row top-spacing">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="3" placeholder="Review content"></textarea>
                    </div>
                </div>
                <div class="row centric">
                    <button type="button" class="btn btn-primary">Send Review</button>
                </div>
            </div>
        </div>

        <div data-bind="ifnot: isAuthenticated">
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12"><br><br><br><br>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-12">To See All Details ...</label>
                    </div>
                    <div class="col-sm-4"></div>
                </div><br>
            </div>
            <div class="row" style="background-color: #ddd">
                <div class="col-sm-12">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <a type="button" href="javascript: void(0)" data-toggle="modal" data-target="#signUpModalDialog" class="col-sm-offset-1 btn btn-template-main">Sign Up</a>
                        <a type="button" href="javascript: void(0)" data-toggle="modal" data-target="#signInModalDialog" class="col-sm-offset-1 btn btn-template-main">Sign In</a>
                    </div>
                    <div class="col-sm-4"></div>
                    <br><br><br><br><br>
                </div><br>
            </div>
        </div>


    </div>
    <div class="col-sm-1"></div>
    </div>
    </div>
    <!-- /container -->
</section>