<!--************************************************************
 * File:            searchResultBar.component.html
 * Author:          Jonas Kleinkauf
 * LastMod:         02.12.2016
 * Description:     Knockout Template for Search Results
 ************************************************************ -->

<section class="nomargin">
    <div class="row">
        <!-- ______________ RESULTS ______________ -->
        <div class="col-md-6 resultColumn scroll-y" data-bind="foreach: { data: offers, as: 'offer' }">
            <div class="panel panel-search-result">
                <div class="panel-body">
                    <!-- Hoverable Image -->
                    <div class="offer-brief-detail-1 box-image-text col-md-5">
                        <div class="top">
                            <div class="image thumbnail-container">
                                <img data-bind="attr: { src: offer.thumbnailUrl }" alt="" class="img-responsive thumbnail-img">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a data-bind="attr: { href: offer.detailsUrl }" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>View Details</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <!-- Tags -->
                        <div class="row">
                            <h4 data-bind="foreach: { data: offer.tags, as: 'tag' }">
                                <span class="label label-default" data-bind="text: tag.title"></span>
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <a data-bind="attr: { href: offer.detailsUrl }">
                                    <h2 data-bind="text: offer.title"></h2>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <span data-bind="ifnot: offer.isFavorite">
                                    <span class="glyphicon glyphicon glyphicon-heart-empty favorite-icon" aria-hidden="true" 
                                        title="Set Favorite" data-bind="click: $parent.setFavorite"></span>
                                </span>
                                <span data-bind="if: offer.isFavorite">
                                    <span class="glyphicon glyphicon glyphicon-heart favorite-icon purpleblue-text" aria-hidden="true" 
                                        title="Remove from Favorites" data-bind="click: $parent.unsetFavorite"></span>
                                </span>
                            </div>
                        </div>
                        <div class="ellipsis">
                            <p data-bind="text: offer.description"></p>
                        </div>
                        <div class="ellipsis-dots">...</div>
                        <!-- Price -->
                        <div class="row">
                            <div class="col-md-4 offer-result-keyfigures">
                                <div class="offer-brief-detail-1-details-value"><strong data-bind="text: offer.uniDistance"></strong><strong> km</strong></div>
                                <div class="offer-brief-detail-1-details-key"><small>to University Fulda</small></div>
                            </div>
                            <div class="col-md-4 offer-result-keyfigures">
                                <div class="offer-brief-detail-1-details-value"><strong data-bind="text: offer.size"></strong><strong> m²</strong></div>
                                <div class="offer-brief-detail-1-details-key"><small>Size</small></div>
                            </div>
                            <div class="col-md-4 offer-result-keyfigures">
                                <div class="offer-brief-detail-1-details-value price-wrapper">
                                    <div class="price"><strong data-bind="text: offer.rent"></strong><strong> €</strong></div>
                                    <div class="rate"><strong>/ </strong><strong data-bind="text: offer.rentType"></strong></div>
                                </div>
                                <div class="offer-brief-detail-1-details-key"><small data-bind="text: offer.offerType"></small></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ______________ MAP ______________ -->
        <div id="resultMapContainer" class="col-md-6">
            <div id="resultMap" class="mapColumn"></div>
        </div>
    </div>
</section>