/*_______________ Result Page _______________ */

/* ______________ MAP ____________*/
/* Extra Small Devices, Phones */ 
#resultMapContainer .mapColumn{
    height: 280px;
  }
@media only screen and (min-width : 480px) {
  #resultMapContainer .mapColumn{
    height: 380px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #resultMapContainer .mapColumn{
    height: 480px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #resultMapContainer .mapColumn{
    height: 580px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #resultMapContainer .mapColumn{
    height: 780px;
  }
}
#resultMapContainer {
   padding: 10px; 
  background-color: #eeeeee;
}

#resultMapContainer .leaflet-top, .leaflet-bottom{
  z-index: 400 !important;
}

/* Extra Small Devices, Phones */ 
  #resultMapContainer .resultColumn{
    height: 300px;
  }
@media only screen and (min-width : 480px) {
  #resultMapContainer .resultColumn{
    height: 400px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #resultMapContainer .resultColumn{
    height: 500px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #resultMapContainer .resultColumn{
    height: 600px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #resultMapContainer .resultColumn{
    height: 800px;
  }
}

.scroll-y{
  overflow-y: auto;
}

.panel-search-result{
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.ellipsis {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;  
  -o-text-overflow: ellipsis;
  max-height: 10rem;
}

.offer-result-keyfigures{
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 0.5rem;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.nomargin{
  margin: 0;
}

#resultMapContainer .marker-popup{
  width: 250px;
}

#resultMapContainer .map-popup-details{
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 0.5rem;
}

#resultMapContainer .map-popup-img{
  color: #FFFFFF !important;
}

#resultMapContainer .map-popup-viewtext{
  height: 30% !important;
}

.label{
  line-height: 2.5rem !important;
}