<section style="min-height:700px; margin-top: 2rem">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputOldPassword" class="col-sm-2 control-label marginbottom">Old Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control marginbottom" id="inputOldPassword" placeholder="Old Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputNewPassword1" class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputNewPassword1" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputNewPassword2" class="col-sm-2 control-label">Confirm New Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputNewPassword2" placeholder="Confirm Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <a href="/pages/myProfile" type="submit" class="btn btn-template-main">Accept</a>
                    <a href="/pages/myProfile" type="submit" class="btn btn-marginleft btn-template-main">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>