<div class="navbar-affixed-top hidden-xs " data-spy="affix" data-offset-top="200">
	<div class="navbar navbar-default navbar-light yamm" role="navigation" id="navbar-lg">
		<div class="container">
			<!-- .navbar-header -->
			<div class="navbar-header">
				<a class="navbar-brand home" href="/">
					<img src="../img/logo.png" alt="FuldaFlats Logo">
					<span class="sr-only">FuldaFlats - go to homepage</span>
				</a>
			</div>
			<!--/.navbar-header -->
			<div class="navbar-collapse collapse" id="navigation-lg">
				<div class="nav-profile-image-container navbar-collapse navbar-right">
					<img src="../img/person-3.png" alt="profile image" class="img-responsive img-circle">
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="inactive">
						<a href="/pages/myProfile.html">My Profile</a>
					</li>
					<li class="inactive">
						<a href="/pages/newOffer.html">New Offer</a>
					</li>
					<li class="inactive">
						<a href="/pages/becomeLandlord.html">Become Landlord</a>
					</li>
					<li class="inactive">
						<a type="button" data-toggle="modal" data-target="#myModal">Sign In</a>
					</li>
					<li class="inactive">
						<a type="button" data-toggle="modal" data-target="#myModal2">Sign Up</a>
					</li>
					<li class="inactive">
						<a href="/pages/signOut.html">Sign Out</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- *** NAVBAR / Top Bar Extra Small ***
_________________________________________________________ -->

<div class="navbar-affixed-top visible-xs" data-spy="affix" data-offset-top="200 ">
	<div class="navbar navbar-default yamm" role="navigation" id="navbar-xs">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand home" href="/">
					<img src="../img/logo.png" alt="FuldaFlats Logo">
					<span class="sr-only">FuldaFlats - go to homepage</span>
				</a>
				<div class="navbar-buttons">
					<button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation-xs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-align-justify"></i>
                                </button>
				</div>
			</div>
			<div class="navbar-collapse collapse" id="navigation-xs">
				<div class="nav-profile-image-container">
					<img src="../img/person-3.png" alt="profile image" class="img-responsive img-circle">
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="inactive">
						<a href="/pages/myProfile.html">My Profile</a>
					</li>
					<li class="inactive">
						<a href="/pages/newOffer.html">New Offer</a>
					</li>
					<li class="inactive">
						<a href="/pages/becomeLandlord.html">Become Landlord</a>
					</li>
					<li class="inactive visible-xs">
						<a type="button" data-toggle="modal" data-target="#myModal">Sign In</a>
					</li>
					<li class="inactive visible-xs">
						<a type="button" data-toggle="modal" data-target="#myModal2">Sign Up</a>
					</li>
					<li class="inactive">
						<a href="/pages/signOut.html">Sign Out</a>
					</li>
					<li class="inactive">
						<a href="/pages/impressum.html">Impressum</a>
					</li>
					<li class="inactive">
						<a href="mailto:contact@fuldaflats.de">Contact</a>
					</li>
					<li class="inactive">
						<a href="/pages/termsOfUse.html">Terms Of Use</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>