<div class="navbar-affixed-top hidden-xs " data-spy="affix" data-offset-top="200">
	<div class="navbar navbar-default navbar-light yamm" role="navigation" id="navbar-lg">
		<div class="container">
			<!-- .navbar-header -->
			<div class="navbar-header">
				<a class="navbar-brand home" href="/">
					<img src="../img/logo.png" alt="FuldaFlats Logo">
					<span class="sr-only">FuldaFlats - go to homepage</span>
				</a>
			</div>
			<!--/.navbar-header -->
			<div class="navbar-collapse collapse" id="navigation-lg">
				<div class="nav-profile-image-container navbar-collapse navbar-right">
					<img src="../img/person-3.png" alt="profile image" class="img-responsive img-circle">
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="inactive">
						<a href="/pages/myProfile.html">My Profile</a>
					</li>
					<li class="inactive">
						<a href="/pages/newOffer.html">New Offer</a>
					</li>
					<li class="inactive">
						<a href="/pages/becomeLandlord.html">Become Landlord</a>
					</li>
					<li class="inactive">
						<a type="button" data-toggle="modal" data-target="#myModal">Sign In</a>
					</li>
					<li class="inactive">
						<a type="button" data-toggle="modal" data-target="#myModal2">Sign Up</a>
					</li>
					<li class="inactive">
						<a href="/pages/signOut.html">Sign Out</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- *** NAVBAR / Top Bar Extra Small ***
_________________________________________________________ -->

<div class="navbar-affixed-top visible-xs" data-spy="affix" data-offset-top="200 ">
	<div class="navbar navbar-default yamm" role="navigation" id="navbar-xs">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand home" href="/">
					<img src="../img/logo.png" alt="FuldaFlats Logo">
					<span class="sr-only">FuldaFlats - go to homepage</span>
				</a>
				<div class="navbar-buttons">
					<button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation-xs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-align-justify"></i>
                                </button>
				</div>
			</div>
			<div class="navbar-collapse collapse" id="navigation-xs">
				<div class="nav-profile-image-container">
					<img src="../img/person-3.png" alt="profile image" class="img-responsive img-circle">
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="inactive">
						<a href="/pages/myProfile.html">My Profile</a>
					</li>
					<li class="inactive">
						<a href="/pages/newOffer.html">New Offer</a>
					</li>
					<li class="inactive">
						<a href="/pages/becomeLandlord.html">Become Landlord</a>
					</li>
					<li class="inactive visible-xs">
						<a type="button" data-toggle="modal" data-target="#myModal">Sign In</a>
					</li>
					<li class="inactive visible-xs">
						<a type="button" data-toggle="modal" data-target="#myModal2">Sign Up</a>
					</li>
					<li class="inactive">
						<a href="/pages/signOut.html">Sign Out</a>
					</li>
					<li class="inactive">
						<a href="/pages/impressum.html">Impressum</a>
					</li>
					<li class="inactive">
						<a href="mailto:contact@fuldaflats.de">Contact</a>
					</li>
					<li class="inactive">
						<a href="/pages/termsOfUse.html">Terms Of Use</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Sign In</h4>
			</div>
			<div class="modal-body">
				<label for="eMail" class="control-label col-sm-4">E-Mail:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="eMail">
				</div>
				<label for="password" class="control-label col-sm-4">Password:</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="password">
				</div>
			</div>
			<div class="checkbox col-sm-offset-2">
				<label><input type="checkbox" value="">Remember Me</label>
			</div>
			<div class="modal-footer">
				<a href="/pages/myProfile.html" type="button" class="btn btn-default">Sign In</a>
				<p>Need an account?</p>
				<button type="button" class="btn btn-default" data-dismiss="modal">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Sign Up</h4>
			</div>
			<div class="modal-body">
				<label for="firstName" class="control-label col-sm-4">First Name:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="firstName">
				</div>
				<label for="lastName" class="control-label col-sm-4">Last Name:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="lastName">
				</div>
				<label for="eMail" class="control-label col-sm-4">E-Mail:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="eMail">
				</div>
				<label for="password" class="control-label col-sm-4">Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="password">
				</div>
				<label for="passwordConfirm" class="control-label col-sm-4">Confirm Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="passwordConfirm">
				</div>
				<div class="form-group">
					
						<label for="sel1">Gender:</label>
					
						<select class="form-control " id="sel1">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
					
				</div>
			</div>
			<div class="modal-footer">
				<div class="checkbox col-sm-offset-2">
					<label><input type="checkbox" value="">I agree to Fuldaflats Terms of Service</label>
				</div>
				<a href="/pages/myProfile.html" type="button" class="btn btn-default">Sign Up</a>
				<p>Already have an account?</p>
				<button type="button" class="btn btn-default" data-dismiss="modal">Sign In</button>
			</div>
		</div>

	</div>
</div>