<div class="modal fade modal-md" id="contactModalDialog" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Contact</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<p>
							<strong>FuldaFlats</strong><br />
							<span>Fulda, 36037</span><br />
							<span>Leipziger Str. 123</span><br />
							<span>Germany</span>
						</p>
						<p>
							<span>Phone: <a href="tel:0000/000000">0000/000000</a></span><br />
							<span>Email: <a href="mailto:contact@fuldaflats.de">contact@fuldaflats.de</a></span>
						</p>
					</div>
					<div id="contactMapContainer" class="col-md-6">
						<div id="contactMap" class="mapColumn"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>