/* Special component css here and general css in main.css */
#new-offer-wizard .progress {
    margin-bottom: 0px;
    margin-top: 5px;
}

#new-offer-wizard fieldset legend > * {
    margin-bottom: 10px;
}

#new-offer-wizard #uploaded-files .img-row-2 {
    margin-top: 20px;
}

#new-offer-wizard #uploaded-files {
    min-height: 150px;
}

#new-offer-wizard .multiselect-container {
    width: 100%;
}