<!--************************************************************
 * File:            newOfferBar.component.html
 * Author:          Patrick Hasenauer
 * LastMod:         02.12.2016
 * Description:     Knockout Template for new offer bar.
 ************************************************************-->
<section id="new-offer-wizard" style="min-height:700px; margin-top: 2rem">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="tabs">
                    <ul class="nav nav-pills nav-justified">
                        <li class="active"><a href="#tab1" data-toggle="tab">Step 1</a></li>
                        <li class="disabled"><a href="#tab2">Step 2</a></li>
                        <li class="disabled"><a href="#tab3">Step 3</a></li>
                        <li class="disabled"><a href="#tab4">Step 4</a></li>
                    </ul>
                    <div class="tab-content tab-content-inverse">
                        <!-- tab 1 -->
                        <div class="tab-pane active text-center" id="tab1">
                            <form class="form-horizontal">
                                <div class="row">
                                    <label for="offerTitle" class="control-label col-sm-2">Offer Title:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="offerTitle" placeholder="Nice Apartment near Fulda">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <label for="offerType" class="control-label col-sm-2">Offer Type:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="offerType" placeholder="Apartment">
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <label for="street" class="control-label col-sm-2">Street:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="street" placeholder="Musterstraße">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <label for="number" class="control-label col-sm-2">Nr:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="number" placeholder="12a">
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <label for="floor" class="control-label col-sm-2">Floor:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="floor" placeholder="3">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <label for="postCode" class="control-label col-sm-2">Post Code:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="postCode" placeholder="34567">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <label for="city" class="control-label col-sm-2">City:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="city" placeholder="Musterstadt">
                                    </div>
                                </div>
                            </form>
                            <br><br>
                            <div class="row">
                                <div class="col-xs-2">
                                    <a data-bind="click: cancelCreation" type="button" class="btn btn-danger" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="col-xs-8">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                            25%
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <a data-bind="click: goNextStep" next-tab="#tab2" type="button" data-toggle="tab" class="btn btn-template-main" aria-label="Right Align">
                                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /.tab -->
                        <!-- tab 2 -->
                        <div class="tab-pane text-center" id="tab2">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="size" class="control-label col-sm-4">Size:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="size" placeholder="25 qm">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="bathroom" class="control-label col-sm-4">Bath:</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default">Shower/WC</button>
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="caret"></span>
															<span class="sr-only">Toggle Dropdown</span>
													  	</button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Shower/WC</a></li>
                                                    <li><a href="#">Shower/Tub/WC</a></li>
                                                    <li><a href="#">Tub/WC</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="rooms" class="control-label col-sm-4">Rooms:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="rooms" placeholder="3">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="kitchen" class="control-label col-sm-4">Kitchen:</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default">Fridge/Oven</button>
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="caret"></span>
															<span class="sr-only">Toggle Dropdown</span>
													  	</button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Fridge/Oven</a></li>
                                                    <li><a href="#">Fridge/Stove</a></li>
                                                    <li><a href="#">Fridge/Stove/Oven</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="rentalw" class="control-label col-sm-4">Rental(w):</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="rentalw" placeholder="270 EUR">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="cellar" class="control-label col-sm-4">Cellar:</label>
                                        <div class="col-sm-8">
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <input type="checkbox" name="cellar" value="" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="addition" class="control-label col-sm-4">Addition:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="addition" placeholder="50 EUR">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="parking" class="control-label col-sm-4">Parking:</label>
                                        <div class="col-sm-8">
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <input type="checkbox" name="parking" value="" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="rental" class="control-label col-sm-4">Rental:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="rental" placeholder="320 EUR">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="elevator" class="control-label col-sm-4">Elevator:</label>
                                        <div class="col-sm-8">
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <input type="checkbox" name="elevator" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br><br>
                            <div class="row">
                                <div class="col-xs-2">
                                    <a data-bind="click: goPrevStep" next-tab="#tab1" type="button" data-toggle="tab" class="btn btn-template-main" aria-label="Right Align">
                                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="col-xs-8">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                            50%
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <a data-bind="click: goNextStep" next-tab="#tab3" type="button" data-toggle="tab" class="btn btn-template-main" aria-label="Right Align">
                                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /.tab -->
                        <!-- tab 3 -->
                        <div class="tab-pane text-center" id="tab3">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="heating" class="control-label col-sm-4">Heating:</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default">Gas</button>
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="caret"></span>
															<span class="sr-only">Toggle Dropdown</span>
													  	</button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Gas</a></li>
                                                    <li><a href="#">Oil</a></li>
                                                    <li><a href="#">Electricity</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="tv" class="control-label col-sm-4">TV:</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default">Cable</button>
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="caret"></span>
															<span class="sr-only">Toggle Dropdown</span>
													  	</button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Cable</a></li>
                                                    <li><a href="#">DSL</a></li>
                                                    <li><a href="#">SAT</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="washer" class="control-label col-sm-4">Washer:</label>
                                        <div class="col-sm-8">
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <input type="checkbox" name="washing" value="" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="phone" class="control-label col-sm-4">Phone:</label>
                                        <div class="col-sm-8">
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <input type="checkbox" name="phone" value="" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="dryer" class="control-label col-sm-4">Dryer:</label>
                                        <div class="col-sm-8">
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <input type="checkbox" name="dryer" value="" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="internet" class="control-label col-sm-4">Internet:</label>
                                        <div class="col-sm-8">
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <input type="checkbox" name="internet" value="" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br>

                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label for="comment">Description:</label>
                                            <textarea class="form-control" rows="6" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                            </form>
                            <br><br>
                            <div class="row">
                                <div class="col-xs-2">
                                    <a data-bind="click: goPrevStep" next-tab="#tab2" type="button" data-toggle="tab" class="btn btn-template-main" aria-label="Right Align">
                                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="col-xs-8">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                            75%
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <a data-bind="click: goNextStep" next-tab="#tab4" type="button" data-toggle="tab" class="btn btn-template-main" aria-label="Right Align">
                                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- tab 4 -->
                        <!-- /.tab -->
                        <div class="tab-pane text-center" id="tab4">
                            <div class="row">
                                <label class="control-label col-sm-11">Add Pictures and/or Videos:</label>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-default" aria-label="Right Align">
												<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
											</button>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="image">
                                        <img src="../img/person-3.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="image">
                                        <img src="../img/person-3.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="image">
                                        <img src="../img/person-3.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="image">
                                        <img src="../img/person-3.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="image">
                                        <img src="../img/person-3.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="image">
                                        <img src="../img/person-3.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-xs-2">
                                    <a data-bind="click: goPrevStep" next-tab="#tab3" type="button" data-toggle="tab" class="btn btn-template-main" aria-label="Right Align">
                                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="col-xs-8">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            100%
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <a type="button" data-toggle="tab" class="btn btn-success" aria-label="Right Align">
                                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /.tab -->
                    </div>
                </div>
                <!-- /.tabs -->
            </div>
        </div>
    </div>
</section>