@import url("/bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("/bower_components/bootstrap/dist/css/bootstrap-theme.min.css");

/* your styles go here */
.navbar-brand>img{
  width: 300px;
}
.brand-display{
  width: 300px;
}

#top{
  background: red;
}

#navigation .profile-image > img {
  height: 120px
}

#navigation .profile-image {
  margin: 10px 0px;
}

#navigation .nav-group1 .nav li::first-child {
  padding: 20px;
  }


.background-gray {
  background: #eeeeee;
}
.background-gray-dark {
  background: #555555;
}
.background-white {
  background: #fff;
}

/* Search Panel */

@media (min-width: 992px) {

  #search-panel {
    padding: 20px;
  }

  #search-panel > .row {
    display: flex;
    flex-direction: row;
  }

  #search-panel > .row > [class^="col-"],
  #search-panel > .row > [class*=" col-"] {
    display: flex;
    align-items: center;
  }

  #search-panel > .row > .search-panel-search-button-container  {
    display: inline-block;
  }
}

@media (max-width: 992px) {
  #search-panel {
      padding: 5px 15px;
  }

  #search-panel > .row > [class^="col-"],
  #search-panel > .row > [class*=" col-"] {
    margin: 10px 0px;
  }
}

/* End - Search Panel */

/* Brief Offer Detail for start page */

.offer-brief-detail-1 .offer-brief-detail-1-details {
  padding: 0px 10px;
}

.offer-brief-detail-1 .offer-brief-detail-1-details > div {
  padding: 10px 0px;
}

@media (min-width: 1200px) {
  .offer-brief-detail-1 .offer-brief-detail-1-details > div:first-of-type {
    border-right: solid 1px #e6e6e6;
  }
  .offer-brief-detail-1 .offer-brief-detail-1-details > div:last-of-type {
    border-left: solid 1px #e6e6e6;
  }
}

@media (max-width: 1200px) {
  .offer-brief-detail-1 .offer-brief-detail-1-details > div:first-of-type {
    border-bottom: solid 1px #e6e6e6;
  }
  .offer-brief-detail-1 .offer-brief-detail-1-details > div:last-of-type {
    border-top: solid 1px #e6e6e6;
  }
}

.offer-brief-detail-1 .offer-brief-detail-1-details .offer-brief-detail-1-details-value{
  font-size: 18px;
}

.offer-brief-detail-1 .offer-brief-detail-1-details .offer-brief-detail-1-details-key{
  color: #999999;
}

.price-wrapper .price {
  display: inline-block;
}
.price-wrapper .rate {
  display: inline-block;
  vertical-align: top;
  line-height: 11px;
  font-size: 11px;
}
/* End - Brief Offer Detail for start page */

