/* Special component css here and general css in main.css */

#signUpModalDialog .modal-dialog{
    max-width: 400px;
}

#signUpModalDialog .input-group,
#signUpModalDialog .modal-body > input,
#signUpModalDialog .modal-body > select {
    margin-bottom: 5px;
}

#signUpModalDialog .alert {
    margin-bottom: 10px;
    padding: 5px;
}

#signUpModalDialog .valid{
    border: 1px solid green;
}

#signUpModalDialog .inValid{
    border: 1px solid red;
}