<div class="modal fade modal-md" id="signUpModalDialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="click: resetDialog" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <!-- ko if: internalError-->
                <div class="alert alert-danger">
                    <strong>Internal Error:</strong> Please try it again later.
                </div>
                <!-- /ko -->
                <!-- ko if: isSignUpDataError && signUpDataErrorMessage-->
                <div data-bind="text: signUpDataErrorMessage" class="alert alert-danger">
                </div>
                <!-- /ko -->
                <input data-bind="textInput: firstName" maxlength="255" type="text" class="form-control" placeholder="First Name" autofocus>
                <input data-bind="textInput: lastName" maxlength="255" type="text" class="form-control" placeholder="Last Name">
                <div class="input-group">
                    <input data-bind="textInput: eMail" maxlength="255" type="email" class="form-control" placeholder="Email">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                </div>
                <div class="input-group">
                    <input data-bind="textInput: password" maxlength="255" type="password" class="form-control" placeholder="Password">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                </div>
                <div class="input-group">
                    <input data-bind="textInput: confirmPassword" maxlength="255" type="password" class="form-control" placeholder="Confirm Password">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                </div>
                <select data-bind="options: genders,
                       textInput: selectedGender, optionsCaption: 'Choose Gender', optionsAfterRender: optionsAfterRender"
                    class="form-control"></select>
                <div class="checkbox">
                    <label for="termsOfUseAgreement"><input id="termsOfUseAgreement" data-bind="checked: termsOfUseAgreement" type="checkbox"> I agree to <span data-bind="text: domain"></span> <a data-bind="attr: { href: termsOfUsePageInfo().url }">Terms of Service</a></label>
                </div>
                <button data-bind="click: signUp, enable: fromIsValid" class="btn btn-template-primary btn-block">Sign Up</button>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <span>Already have an account? <a data-bind="click: resetDialog" href="javascript: void(0)" data-dismiss="modal"
                            data-toggle="modal" data-target="#signInModalDialog">Sign In</a></span>
                </div>
            </div>
        </div>
    </div>
</div>